! font size
!XTerm*faceName: hack
!XTerm*faceSize: 14
!xterm*font:     *-hack nerd font-*-*-*-20-*
!xterm*font: -*-liberation serif-*-*-*-*-24-*-*-*-*-*-*-*

!XTerm.vt100.locale: false
!XTerm.vt100.utf8: true

! copy and paste, zooming in and out
!xterm*VT100.Translations: #override \
!                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
!                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
!		 Ctrl <Key>minus:	smaller-vt-font() \n\
!		 Ctrl <Key>plus:	larger-vt-font() \n\
!		 Ctrl <Key>0:		set-vt-font(d)

!URxvt.font: Hack Nerd Font:size=12
URxvt*font: xft:mono:style=Regular:pixelsize=16
!URxvt*letterSpace: -5
URxvt.scrollBar: false
!URxvt*font:     *-fixed-*-*-*-18-*

URxvt.vt100.locale: false
URxvt.vt100.utf8: true

! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false

! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:

! Bind Ctrl-Shift-c & Ctrl-Shift-v to copy and paste
! I dont know why, but I needed to use hex keysym values to get it to work
URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard

! Zoom in and out with https://github.com/majutsushi/urxvt-font-size
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show

! General settings (in case im not using one of the prev terminal emulators)
*.alpha: 0.9
*.font: monospace:size=12

! "Visiblue" from terminal.sexy
! special
!*.foreground:   #666699
!*.background:   #000000
!*.cursorColor:  #666699
!
!! black
!*.color0:       #333366
!*.color8:       #333399
!
!! red
!*.color1:       #6666cc
!*.color9:       #9999ff
!
!! green
!*.color2:       #0099cc
!*.color10:      #00ccff
!
!! yellow
!*.color3:       #3366cc
!*.color11:      #6699ff
!
!! blue
!*.color4:       #006699
!*.color12:      #0099cc
!
!! magenta
!*.color5:       #0066ff
!*.color13:      #0099ff
!
!! cyan
!*.color6:       #669999
!*.color14:      #66cccc
!
!! white
!*.color7:       #99cccc
!*.color15:      #ccffff

! "isotope.dark" from terminal.sexy
! special
*.foreground:   #d0d0d0
*.background:   #000000
*.cursorColor:  #d0d0d0

! black
*.color0:       #000000
*.color8:       #808080

! red
*.color1:       #ff0000
*.color9:       #ff0000

! green
*.color2:       #33ff00
*.color10:      #33ff00

! yellow
*.color3:       #ff0099
*.color11:      #ff0099

! blue
*.color4:       #0066ff
*.color12:      #0066ff

! magenta
*.color5:       #cc00ff
*.color13:      #cc00ff

! cyan
*.color6:       #00ffff
*.color14:      #00ffff

! white
*.color7:       #d0d0d0
*.color15:      #ffffff
